<div style="display: flex; justify-content: center">
    <p-card header="Status nota fiscal" [style]="{'width': '50rem', 'margin-bottom': '2em'}">
       
        <div class="list-group-item">
            <button routerLink="/notas-fiscais" pButton pRipple type="button" label="Ver status atual" class="p-button-raised p-button-secondary"></button>
            <button routerLink="/seletor-filtros" pButton pRipple type="button" label="Filtrar" class="p-button-raised p-button-success"></button>
            <button routerLink="/indisponibilidade" pButton pRipple type="button" label="Indisponibilização" class="p-button-raised p-button-info"></button>
        </div>
    </p-card>
</div>


